<section class="secao so-geral">
    <h2 class="secao-titulo">Detalhamento Di&aacute;rio por Produto <span class="periodo-ref" data-periodo="geral"></span></h2>
    <div class="secao-barra">
        <p class="secao-nota">Valores, opera&ccedil;&otilde;es e lojas por produto consideram apenas contratos averbados. Lojas s&atilde;o &uacute;nicas por dia e produto; o total do dia n&atilde;o repete lojas entre produtos. Aguardando averba&ccedil;&atilde;o e n&atilde;o averbados aparecem &agrave; parte.</p>
        <button type="button" class="btn-secundario" id="tabela-exportar"
            title="Exporta o detalhamento di&aacute;rio e cada etapa da hierarquia at&eacute; contratos">Exportar Excel</button>
    </div>
    <div class="painel painel-tabela">
        <table class="tabela" id="tabela-diaria">
            <thead>
                <tr>
                    <th rowspan="2" data-chave="dia">Dia</th>
                    <th colspan="2" class="col-inss">INSS</th>
                    <th colspan="2" class="col-publico">P&uacute;blico</th>
                    <th colspan="2" class="col-privado">Privado</th>
                    <th rowspan="2" class="th-quebra" data-chave="total">Valor<br>Averbado</th>
                    <th rowspan="2" class="th-quebra" data-chave="aguardando">Aguardando<br>Averba&ccedil;&atilde;o</th>
                    <th rowspan="2" class="th-quebra" data-chave="nao_averbado">N&atilde;o<br>Averbado</th>
                </tr>
                <tr>
                    <th class="col-inss" data-chave="inss">R$ / Oper.</th>
                    <th class="col-inss" data-chave="inss_tent">Tent. / Conv.</th>
                    <th class="col-publico" data-chave="publico">R$ / Oper.</th>
                    <th class="col-publico" data-chave="publico_tent">Tent. / Conv.</th>
                    <th class="col-privado" data-chave="privado">R$ / Oper.</th>
                    <th class="col-privado" data-chave="privado_tent">Tent. / Conv.</th>
                </tr>
            </thead>
            <tbody id="tabela-diaria-corpo">
                <tr><td colspan="10" class="carregando">Carregando...</td></tr>
            </tbody>
        </table>
    </div>
</section>
