<dialog id="tabela-ampliada" class="tabela-ampliada" aria-labelledby="tabela-ampliada-titulo">
    <header class="tabela-ampliada-topo">
        <div class="tabela-ampliada-identificacao">
            <h2 id="tabela-ampliada-titulo"></h2>
            <div id="tabela-ampliada-contexto"></div>
        </div>
        <button type="button" class="btn-secundario" id="tabela-ampliada-fechar" autofocus>Fechar amplia&ccedil;&atilde;o</button>
    </header>
    <div id="tabela-ampliada-conteudo" class="tabela-ampliada-conteudo"></div>
</dialog>
